/Airport.class
/Asset.class
/COLOR.class
/Casino.class
/CityProperty.class
/GoToJail.class
/Jail.class
/Lottery.class
/MonopolyBoard.class
/Square.class
/Start.class
/Tax.class
/Utilities.class
/Vacation.class
